<article id="<%= post.layout %>-<%= post.slug %>" itemscope itemprop="blogPost">

  <h1> <%- partial('post/title') %> </h1>

  <p> <%- post.excerpt %> </p>

  <div class="meta">
    <%- partial('post/date', {date_format: null}) %>
    <%- partial('post/tag') %>
  </div>

  <p><a href="<%- url_for(post.path) %>#more" class="button">Read More</a></p>

</article>
