<% if (post.prev || post.next){ %>
<nav>
  <% if (post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" style="float: left;">
      <strong><%= __('newer') %></strong>
      <div>
        <% if (post.prev.title){ %>
          <%= post.prev.title %>
        <% } else { %>
          (no title)
        <% } %>
      </div>
    </a>
  <% } %>
  <% if (post.next){ %>
    <a href="<%- url_for(post.next.path) %>" style="float: right;">
      <strong><%= __('older') %></strong>
      <div><%= post.next.title %></div>
    </a>
  <% } %>
</nav>
<div style="clear: both"></div>
<% } %>
